.App {
  font-family: sans-serif;
  text-align: center;
}

.allGuests-table,
td {
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
}

.allGuests-table th {
  border: 1px solid black;
  text-align: center;
}

.guests-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
